body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* отступ для секций */

.ptb {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Модификатор для цвета секции*/

.section-color-gray {
    background-color: #f0f2f3;
}
.section-color-light-gray {
    background-color: #f5f5f5;
}

/* Кнопка */

.button {
    padding: 14px 21px;
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 6px;
    background-color: #425a5a;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.button-green {
    background-color: #58d093;
    box-shadow: inset 0px -2px 0px 0px #3c9066;
}

/* Шапка */

.header {
    height: 567px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-wrap {
    position: relative;
}
.header .logo {
    position: absolute;
    top: 0;
}
.header-title {
    margin: 0;
    color: white;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}
.header-desc {
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 22px;
}
.header-button-margin {
    margin-top: 35px;
}
.text-wrap {
    width: 570px;
    padding-top: 240px;
    padding-left: 100px;
}
.picture-wrap {
    position: absolute;
    right: 48px;
    bottom: -190px;
}

/* Сеция 1я "про нас" */

.about__title {
    font-family: 'Infinity';
    font-size: 52px;
    font-weight: 400;
    margin: 60 0 18px 0;
    text-align: center;
}
.about__text {
    font-size: 20px;
    font-weight: 300;
    color: #1e3435;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    line-height: 1.5;
}

/* Секция 2я "Скачать приложение" */

.get-app-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.get-app-block {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
}
.get-app__video {
    width: 45%;
}
.get-app__title {
    font-size: 28px;
    font-weight: 400;
    color: #203837
}
.get-app__text {
    font-size: 14px;
    color: #203837;
    font-weight: 400;
    margin-top: 25px;
}
.get-app__button {
    margin-top: 30px;
}

/* Секция 3я "карточки" */

.feature-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.feature__card {
    width: 20%;
    text-align: center;
}
.feature__icon span::before {
    font-size: 58px;
    color: #1e3536;
}
.feature__title {
    font-size: 22px;
    font-weight: 300;
    color: #1e3536;
    margin: 20px 0 30px 0;
}
.feature__text {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

/* Секция 4я " Коминтарии */

.comment-line {
	margin: 0 auto; /* Центрирование блочного элемента*/
	width: 100%;
	max-width: 70%;
	height: 2px;
	background-color: #eee;
	box-shadow: 0px 0px 19px 3px rgb(19,19,33,0.2);
	border-radius: 50%;
}
/* Обертка */
.comment-inner {
	margin: 35px auto;
	width: 100%;
	max-width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Фото пользователя */
.comment__user {
	margin-bottom: 15px;
}
/* скобка левая */
.blockquote-left {
    align-self: flex-start;
}
/* скобка правая */
.blockquote-right {
    align-self: flex-end;
}
/* имя пользователя */
.comment__user-name {
    margin-bottom: 15px;
}
.comment__text {
    margin: 10px 0;
	width: 90%;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
}

/* Сукция 5я "Тарифные планы*/

.section-title {
    font-family: 'Open sans';
    font-size: 42px;
    font-weight: 400;
    margin: 60 0 18px 0;
    text-align: center;
}
.section-desc {
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 930px;
    text-align: center;
    line-height: 1.5;
}
.plans-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 65px;
}
.plan-inner {
	background-color: #425a5a;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition:.3s;
}
.plan__card {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 23%;
	box-shadow: 0px 0px 19px 3px rgb(19,19,33,0.2);
    border-radius: 5px;   
}
.plan__price {
    background-color: #425a5a;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-weight: 600;
    margin-top: -55px;
    box-shadow: 0px 0px 19px 3px rgb(19,19,33,0.2);
    transition: .3s ;
}
 .plan__card:hover .plan__price {
    background-color: #88cf95;
} 
.plan__card:hover .plan-inner{
    background-color: #6ead7b;
} 
.plan__card:hover .plan__button{
    background-color: #6ead7b;
}
span {
    font-size: 32px;
}
.plan__price__text {
    font-size: 14px;
    font-family: 'Open sans';
}
.plan__title {
	font-size: 36px;
	color: white;
	font-weight: 300;
	margin-bottom: 5px;
}
.plan__desc {
	font-size: 12px;
	color: #ddd;
	line-height: 1.5;
    margin-bottom: 5px;
}
.plan__features {
	width: 100%;
}
.plan__features .feature {
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	color: #425a5a;
	font-size: 14px;
	text-align: center;
}
.plan__button {
	margin-top: 15px;
    margin-bottom: 15px;
    transition:.3s;
}

/* секция 6я "Обратная связь*/

.contact-title {
    font-family: 'Open sans';
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin: auto;
}
.contact-desc {
    text-align: center;
    font-size: 20px;
    font-weight: 300; 
}
.contact-inner {
    max-width: 620px;
    align-items: center;
    margin-top: 65px;
    margin: 0 auto;
    padding: 10px 0;
}
.contact__name {
    color: #b7b7b7;
    font-size: 18px;
    width: 267px; 
    background: #e5e5e5;
    padding: 10px;
    padding-left: 20px;
    float: left;
    border: 0px;
    border-radius: 5px;
}
.contact__email {
    font-size: 18px;
    color: #b7b7b7;
    width: 267px; 
    background: #e5e5e5;
    padding: 10px;
    padding-left: 20px;  
    float: right;
    border: 0px;  
    border-radius: 5px; 
}
.contact__message {
    font-size: 18px;
    color: #b7b7b7;
    width: 580px; 
    background: #e5e5e5;
    margin-top: 30px;
    padding: 20px 20px 120px 20px;
    border: 0px; 
    border-radius: 5px;
}

.contact__button {
    margin-top: 15px;
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: #88cf95;
    margin-left: 233px;
    padding: 10px 55px;
   
}

/* Секция 7я "футер"*/

.footer {
    height: 117px;
    background-image: url(../img/bg.jpg) 
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-inner {
    display: flex;
    flex-direction: column;
} 
.footer-title {
    font-size: 72px;
    color: #ffffff;
    font-family: 'infinity';
}
.footer-desc {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open sans';
}
.footer-icon {
    display: flex;
    width: 180px;
    justify-content: space-between;
}
